basic_project/node_modules/
job-board/client/node_modules/
job-board/server/node_modules/
job-board-with-sqlite/client/node_modules/
job-board-with-sqlite/server/node_modules/-with-sqlite
chat/client/node_modules/
chat/server/node_modules/
